<header>
  <div class="header__logo" routerLink="/" [routerLinkActive]="'active'">
    <div class="header__logo-icon">
      <span class="material-icons">brush</span>
    </div>
    >

    <div>
      <div class="header__brand">WWart</div>
      <div class="header__tagline">Weronika Wołoszyn ART</div>
    </div>
  </div>

  <div class="header__cart" (click)="openCart()"
       [attr.aria-label]="'Koszyk zawiera ' + getCartItemsCount() + ' produktów'">
    <div class="header__cart-icon">
      <span class="material-icons">shopping_cart</span>
    </div>
    <div class="header__cart-count" *ngIf="getCartItemsCount() > 0">
      {{ getCartItemsCount() }}
    </div>
  </div>
</header>
