<div *ngIf="isBrowser" class="inpost-widget-container">

  <div *ngIf="selectedPoint && !showMap" class="selected-locker">
    <h4>Wybrany paczkomat:</h4>
    <div class="locker-info">
      <strong>{{ selectedPoint.name }}</strong><br/>
      {{ selectedPoint.address.line1 }}<br/>
      <span *ngIf="selectedPoint.address.line2">{{ selectedPoint.address.line2 }}</span>
    </div>
    <button type="button" class="btn-change-locker" (click)="changeLocker()">
      Zmień paczkomat
    </button>
  </div>

  <div *ngIf="!selectedPoint && !showMap" class="choose-locker">
    <button type="button" class="btn-submit" (click)="openMap()">
      📍 Wybierz paczkomat InPost
    </button>
  </div>

  <div *ngIf="showMap" class="inpost-map-container">

    <lib-inpost-geowidget-angular
      [token]="token"
      [id]="identifier"
      [language]="language"
      (pointSelect)="pointSelect($event)"
      (apiReady)="apiReady($event)">
    </lib-inpost-geowidget-angular>  </div>
</div>
